<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925399521507-fp71nsf9ni7iipjnn85dd60bp26b062i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925399521507-fp71nsf9ni7iipjnn85dd60bp26b062i</string>
	<key>API_KEY</key>
	<string>AIzaSyCtXjhxmep5y98tjXCSKYPaRAX-ROqBzF4</string>
	<key>GCM_SENDER_ID</key>
	<string>925399521507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>leo.Milky</string>
	<key>PROJECT_ID</key>
	<string>milky-eb7f7</string>
	<key>STORAGE_BUCKET</key>
	<string>milky-eb7f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925399521507:ios:64fc6736f46e59456a0dd6</string>
</dict>
</plist>